.calculatedproducts {
  margin: auto;
  text-align: center;
  color: rgb(39, 41, 43);
  background: rgb(39, 41, 43);
  padding: 20px;
  margin-bottom: 30px;
}

.bestalternative {
  margin: 0;
  opacity: 0.8;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNDgwIDY0TDAgMTkydjU3Nmw0ODAgMTI4IDQ4MC0xMjhWMTkyTDQ4MCA2NHpNNjMuODc1IDcyMC45MzRMNjMuNSAyODhsMzg0LjQ5OCAxMDIuNTMzIDAuMDAxIDQzMi44MzNMNjMuODc1IDcyMC45MzR6TTYzLjUgMjI0bDE2MC4yNTQtNDIuNzM0TDY0MCAyOTIuMjY1djAuMTM1bC0xNjAgNDIuNjY3TDYzLjUgMjI0ek04OTYuMTI1IDcyMC45MzRMNTEyLjAwMSA4MjMuMzY2bDAuMDAxLTQzMi44MzNMNjQwIDM1Ni40djE1NmwxMjgtMzQuMTM1VjMyMi4yNjdMODk2LjUgMjg4IDg5Ni4xMjUgNzIwLjkzNHpNNzY4IDI1OC4yNjcwMDAwMDAwMDAwNXYtMC4xMjVMMzUxLjczNCAxNDcuMTM4MDAwMDAwMDAwMDMgNDgwIDExMi45MzM5OTk5OTk5OTk5NyA4OTYuNSAyMjQgNzY4IDI1OC4yNjcwMDAwMDAwMDAwNXoiLz48L3N2Zz4=");
  background-repeat: no-repeat;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3); }

.grow2 { transition: all .2s ease-in-out; }
.grow2:hover { transform: scale(1.02); }

.grow3 { transition: all .2s ease-in-out; }
.grow3:hover { transform: scale(1.1); }

.printedship {
  width: 30%;
  text-align: left;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.bestalternativecontainer {
  width: 40%;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.goodorbad {
  display: flex;
  flex-flow: column;
  justify-content: left;
  margin: 0;
  margin-top: 5px;
}


#bestoption {
  color: #f9a800;
  /*margin: 0;*/
}

#underline {
  text-decoration: underline;
}

#linethrough {
  text-decoration: line-through;
  margin: 0;
  color: rgb(236, 236, 231);
}

#lightfont {
  color: rgb(236, 236, 231);
}
