.container {
  /*margin: 80px;*/
  /*margin-bottom: 20px;*/
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background: rgb(236, 236, 231);
  padding: 50px;
}


@media (max-width: 600px) {
  .container {
    flex-flow: column;
  }
}

@media (min-width:601px) and (max-width:700px){
  .container {
    flex-flow: column;
    /*padding: 0px;*/
  }
}


@media (min-width:701px) and (max-width:1000px){
  .container {
    padding: 0px;
  }
}
